.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        display: flex;
        justify-content: space-between;
        text-decoration: none;
    }

    &__official {
        color: #FFF;
        text-align: center;
        font-size: 12px;
        font-weight: 500;
        line-height: 12px;

        span {
            display: block;
            margin-top: 8px;
            font-size: 18px;
        }

    }

    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__phone {
        color: #FFF;
        font-size: 18px;
        font-weight: 700;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.logo {
    &__wrap {
        width: 40px;
        margin-right: 8px;

        img {
            width: 100%;
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__title {
        color: #FFF;
        font-size: 22px;
        font-weight: 500;
        line-height: normal;
    }

    &__subtitle {
        color: #FFF;
        font-size: 14px;
        font-weight: 300;
        line-height: normal;
    }
}