@media(max-width: 1399px) {
    .promo {
        background-size: 1396px 705.19px
    }
}

@media (max-width : 991px) {
    .container {
        max-width: 718px;
    }

    .promo {
        background-size: 1190px 659.98px;
        padding: 16px 0 60px;

        &__header {
            font-size: 38px;
        }

        &__subheader {
            font-size: 22px;
        }
    }

    .button {
        &_main {
            width: 245px;
        }
    }

    .advantages {
        padding: 50px 0 50px;

        &__item {
            margin-right: 20px;
            width: 33.3%;
        }

        &__desc {
            span {
                display: block;
            }
        }
    }
}

@media (max-width : 767px) {
    .container {
        max-width: 525px;
    }

    .promo {
        background-size: 1061px 707px;

        &__wrapper {
            align-items: center;
        }

        &__header {
            text-align: center;
            font-size: 26px;
        }

        &__subheader {
            margin-top: 0;
            text-align: center;
            font-size: 16px;
        }

        &__icons {
            width: 318px;
            margin-top: 34px;
        }

        &__icon {
            width: 106px;
            font-size: 10px;
            line-height: 10px;
        }

        &__link {
            margin-top: 6px;
            font-size: 10px;
        }
    }

    .icon-wrap {
        margin-bottom: 10px;
        width: 34px;
        height: 34px;
    }

    .logo {
        &__text {
            justify-content: initial;
        }

        &__wrap {
            margin: auto 6px auto 0;
            width: 24px;
        }

        &__title {
            font-size: 14px;
        }

        &__subtitle {
            font-size: 8px;
            line-height: 8px;

            span {
                display: block;
            }
        }
    }

    .header {
        &__official {
            font-size: 8px;

            span {
                margin-top: 2px;
                font-size: 12px;
            }
        }

        &__phone {
            font-size: 10px;
        }
    }

    .button {
        font-size: 10px;
        width: 118px;
        height: 26px;

        &_main {
            font-size: 8px;
        }
    }

    .advantages {
        padding: 40px 0 40px;

        &__wrapper {
            margin-top: 50px;
        }

        &__icon {
            width: 50px;
            height: 50px;
        }

        &__subtitle {
            margin-top: 20px;
            font-size: 14px;
        }

        &__desc {
            margin-top: 14px;
            font-size: 10px;
        }
    }

    .title {
        font-size: 24px;
    }
}

@media (max-width : 575px) {
    .container {
        max-width: 270px;
    }

    .promo {
        background-image: linear-gradient(90deg, #3d5f09, #c9cfc1);
        padding: 12px 0 40px;

        &__wrapper {
            margin-top: 80px;
        }

        &__header {
            font-size: 20px;
        }

        &__subheader {
            font-size: 10px;
        }

        &__icons {
            width: 230px;
        }

        &__icon {
            width: 72px;
            font-size: 8px;
        }

        &__link {
            margin-top: 6px;
            font-size: 7px;
        }
    }

    .logo {
        &__wrap {
            margin: auto 2px auto 0;
            width: 18px;
        }

        &__subtitle {
            display: none;
        }
    }

    .header {
        &__logo {
            align-items: flex-end;
        }

        &__official {
            display: none;
        }
    }

    .icon-wrap {
        margin-bottom: 6px;
        width: 30px;
        height: 30px;
    }

    .button {
        font-size: 7px;
        width: 84px;
        height: 22px;

        &_main {
            font-size: 7px;
        }
    }

    .advantages {
        &__item {
            margin-right: 14px;
        }

        &__icon {
            width: 40px;
            height: 40px;
        }

        &__subtitle {
            margin-top: 14px;
            font-size: 12px;
            line-height: 14px;
        }

        &__desc {
            margin-top: 10px;
            font-size: 8px;
        }
    }

    .title {
        font-size: 18px;
    }
}