@mixin before_circle {
    padding-top: 6px;

    &::before {
        content: '';
        top: 0;
        left: 0;
        position: absolute;
        width: 36px;
        height: 36px;
        z-index: -1;
        border-radius: 100%;
        background-color: $main-color;
    }
}