.btn {
    padding: 12px 26px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: $main-color;

    &:hover {
        padding: 10px 24px;
        border: 2px solid grey;
    }
}